.interface-pinned-items {
	display: flex;

	// We intentionally hide pinned items (plugins) on mobile, and unhide them at desktop breakpoints.
	// Otherwise the list can wreak havoc on the layout.
	.components-button:not(:first-child) {
		display: none;

		@include break-small() {
			display: flex;
		}
	}

	.components-button {
		margin-left: 4px;

		&.is-pressed {
			margin-left: 5px;
		}

		svg {
			max-width: 24px;
			max-height: 24px;
		}
	}
}
