.block-editor-block-parent-selector {
	background: $white;
	border: $border-width solid $dark-gray-primary;
	border-radius: $radius-block-ui;
	padding: $grid-unit-10 - $border-width;
	line-height: 1;

	.block-editor-block-parent-selector__button {
		width: $grid-unit-60;
		height: $grid-unit-60;
		border: $border-width solid $gray-900;
		border-radius: $radius-block-ui;
	}
}
